@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
    line-height: 1.5;
}
  
h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}
  
ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}
  
h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}
  
img {
    display: block;
    max-inline-size: 100%;
}

svg {
    height: 10px;
    width: 10px;
}


.main,
.content,
.wrapper,
.header,
.top-header,
.bottom-header,
.card-container {
    display: grid;    
}

.wrapper {                                                                                                                                          
    grid-template-columns: 1fr 4fr;
}

.main {
    grid-template-rows: 1fr 15fr;
}

.content {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header {
    grid-template-rows: 1fr 1fr;
}

.top-header,
.bottom-header {
    justify-content: start;
    align-items: center;
}

.card-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
