@import 'node_modules/modern-normalize/modern-normalize.css';

* {
    font-family: "Roboto", serif;
}
  
h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}
  
h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

ul {
    list-style-type: none;
    margin-top: 1em;
}

ul a {
    color: white;
    text-decoration: none;
}

li {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5em 0;
    cursor: pointer;
}
  
img {
    display: block;
    max-inline-size: 100%;
    border-radius: 50%;
    height: 5em;
}

input[type="search"] {
    border-radius: 1em;
    border: none;
    background-color: #dbdad9;
    width: 40vw;
    margin-left: 1em;
}

.icon {
    height: 1.5em;
}

.large-icon {
    height: 3em;
}

.main,
.content,
.wrapper,
.header,
.card-container {
    display: grid;    
}

.top-header,
.bottom-header,
.greeting,
.search-area,
.dashboard,
.utility-buttons,
.sidebar,
.project-card,
.notifications {
    display: flex;
}


.greeting,
.notifications,
.dashboard,
.search-area,
.utility-buttons {
    align-items: center;
}

.wrapper {                                                                                                                                          
    grid-template: auto 4fr/ 1fr 4fr;
}

.sidebar {
    background-color: #1F3EDB;
    color: #fff;
    flex-direction: column;
}

.profile {
    height: 3em;
}

.dashboard {
    gap: 1rem;
    padding: 1rem;
}

.top-header,
.bottom-header {
    justify-content: space-between;
    padding: 0 2em;
}

.main {
    grid-template-rows: 1fr 7fr;
}

.search-area {
    margin-left: 1em;
}

.content {
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    background-color: #dbdad9;
}

.your-projects {
    margin-left: 1rem;
}

.card-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2em;
}

.project-card,
.side-card {
    background: #fff;
    border-radius: 1em;
}

.project-card {
    box-shadow: inset 0.5em 0 0 gold,
    0.2em 0.2em 0.2em rgba(0,0,0,0.3);
    flex-direction: column;
    justify-content: space-between;
}

.text-block {
    padding: 1em;
}

.card-icons {
    align-self: flex-end;
}

.side-card {
    box-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.3);
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


#large-profile {
    height: 5em;
}