@import 'node_modules/modern-normalize/modern-normalize.css';

* {
    font-family: "Roboto", serif;
}
  
h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}
  
h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

ul {
    list-style-type: none;
    padding:0;
}

ul a {
    color: white;
    text-decoration: none;
}
  
img {
    display: block;
    max-inline-size: 100%;
}

.icon {
    height: 20px;
}

.large-icon {
    height: 40px;
}

.icon-trending {
    height: 20px;
    float: left;
}

.main,
.content,
.wrapper,
.header,
.top-header,
.bottom-header,
.card-container {
    display: grid;    
}

.sidebar {
    background-color: #1F3EDB;
    color: #fff;
}

.wrapper {                                                                                                                                          
    grid-template-columns: 1fr 4fr;
}

.main {
    grid-template-rows: 1fr 5fr;
}

.content {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #dbdad9;
}

.header {
    grid-template-rows: 1fr 1fr;
}

.top-header,
.bottom-header {
    justify-content: start;
    align-items: center;
    grid-auto-flow: column;
}

.card-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.project-card,
.side-card {
    background: #fff;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}